%alert{
    padding :15px;
    margin-bottom :20px;
    font-weight :$font-alert-weight;
    color: $font-color;
    border: 2px solid #eee;
}

.alert{
    @extend %alert;
    
}

.success{
    @extend %alert;
}

.warning{
    @extend %alert;
}

.error{
    @extend %alert;
}